<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dstadler.poiandroidtest.newpoi" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".account_setting"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile_screen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".categoryScrn"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doc_careerDescription"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doc_careerDescription_expandedScrn"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".doc_careerDescription">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".doc_promissory"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doc_promissory_expandedScrn"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile_screen"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile_setting_detailed"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:parentActivityName=".profile_screen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".doc_ptjResume"
            android:theme="@style/AppTheme"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doc_simpleResume"
            android:theme="@style/AppTheme"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doc_simpleResume_expandedScrn"
            android:theme="@style/AppTheme"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="org.dstadler.poiandroidtest.newpoi.runImgComplete"/>
            </intent-filter>
        </activity>
        <activity android:name=".memorandum"
            android:theme="@style/AppTheme"
            android:parentActivityName=".categoryScrn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile_setting_simple"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile_screen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile_setting_resume"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile_screen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".resume_eduBack"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile_setting_resume">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".resume_formOfCareer"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile_setting_resume">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".resume_linguistics"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile_setting_resume">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selfIntroduction"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile_setting_resume">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".resume_licenses"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile_setting_resume">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>
