<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dstadler.poiandroidtest.newpoi" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MEDIA"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:name=".profile.AcctSetAcitivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile.ProfileScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.DocCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".main.MainScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".gnrtDoc.CareerDescriptionCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PromissoryCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.EmploymentContractCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.FreelanceEmploymentContractCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ResignationCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.AnnualSalaryContractCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.FreelanceEmploymentContractCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.StandardResumeActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.InvoiceBalanceActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ExpirationLaborContractActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ChurchResumeActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PropertyInheritanceContractActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.TransactionApplicationActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.TransactionAgreementActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ReasonForAbsenceCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PaymentAccountDeclarationCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ReportCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PurchaseRequestCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.NotificationOfInterviewCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.LetterOfAbsenceCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.FactCheckCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.TrafficAccidentAgreementCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ReasonsForLossCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ResignationOnRecommendationCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.WithdrawalOfAuctionApplicationCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ReminderCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PowerOfAttorneyCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".gnrtDoc.CareerDescriptionActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.CareerDescriptionCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PromissoryActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.PromissoryCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.EmploymentContractActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.EmploymentContractCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.ResignationActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.EmploymentContractCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".gnrtDoc.SimpleResumeCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.PtjResumeCatActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainScrnActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ProfileScrnActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".main.MainScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile.ProfileSetDetailActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:parentActivityName=".profile.ProfileScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gnrtDoc.SimpleResumeActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="org.dstadler.poiandroidtest.newpoi.runImgComplete"/>
            </intent-filter>
        </activity>
        <activity android:name=".memorandum"
            android:theme="@style/AppTheme"
            android:parentActivityName=".gnrtDoc.DocCatActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile.ProfileSetSimpleActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile.ProfileScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile.ProfileSetResumeActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile.ProfileScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ResumeEcubackActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile.ProfileSetResumeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ResumeCareerActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile.ProfileSetResumeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ResumeLangActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile.ProfileSetResumeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.SelfIntroductionActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile.ProfileSetResumeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ResumeLicActivity"
            android:theme="@style/AppTheme_material"
            android:parentActivityName=".profile.ProfileSetResumeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ScanActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".profile.ProfileScrnActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
